<!DOCTYPE html>
<html lang="en">
 <head>
  <link href="/css/styles.css" rel="stylesheet" type="text/css"/>
  <title>index</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>
 <body>
   <% include partials/header.ejs %>
   <% include partials/navigation.ejs %>
  <div class="main">
   <h2>Welcome to Artsy Minds!</h2>
   <p>Attend and create events to connect people with same art interests as you. </p>
   <p>Be it art or craft, you can find your kind of people here.<br> Check out the various
   groups available and their connections section to look for available events.</p>
  </div>
  <% include partials/footer.ejs %>
 </body>
</html>
